/*
    DEMO STYLE
*/


button {
  cursor: pointer;
  margin-top: 30px;
  width: 100px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(112, 195, 255);
  color: #212121;
  font-weight: 600;
  box-shadow: 2px 4px 8px rgba(45, 87, 5, 0.247);
}

input {
  margin: 25px;
  border-radius: 5px;
  /* min-width: 65%; */
  width: 500px;
  height: 50px;
  padding: 5px;
  border: black solid 3px;
}

/* block type */
.text {
  display: block;
  font-size: 1rem;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
}

.h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* text format */
.bold {
  font-weight: bold;
}

.underLine {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.strike {
  text-decoration: line-through;
}

/* align text */
.start {
  text-align: left;
}

.center {
  text-align: center;
}

.end {
  text-align: right;
}
